<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorteio de Números</title>
    <style>

        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border-radius: 8px;
            margin: 20px auto;
            padding: 15px;
            width: 80%;
            max-width: 400px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        p{
            font-size: 1.2rem;
        }

        #nomeUsuario {
            font-size: 2rem;
            color: #333;
        }

        #numeroEscolhido {
            color: blue;
        }

        #numeroSorteado {
            color: red;
        }

        #divResultado{
            display: none;
        }

        #resultado {
            justify-content: center;
            display: none;
        }
        .ganhou{
            color: green;
        }

        .perdeu{
            color: red;
            
        }

    </style>
</head>

<body>

    <div class="container">
        <div id="nome">
            <p id="nomeUsuario">
                <%= nomeUsuario %>
            </p>
        </div>

        <div id="numeroEscolhido" class="container">
            <h2>Número Escolhido</h2>
            <p>
                <%= numeroEscolhido %>
            </p>
        </div>

        <div id="numeroSorteado" class="container">
            <h2>Número Sorteado</h2>
            <p>
                <%= numeroSorteado %>
            </p>
        </div>
        <div id="divResultado" class="container">
            <p id="resultado"></p>
        </div>

    </div>
    <script>
        window.addEventListener("load",function(){
            let divResultado = document.querySelector("#divResultado");
            let resultado = document.querySelector("#resultado");

            if(divResultado.innerHTML === resultado.innerHTML){
                divResultado.classList.add("ganhou");
                resultado.innerHTML = "Parabens, você ganhou o sorteio!!!"
            }else{
                divResultado.classList.add("perdeu");
                resultado.innerHTML = "O sorteio já foi realizado.\n \nInfelizmente você não ganhou !."
            }

            divResultado.style.display = "flex"
            resultado.style.display = "flex"
        })
    </script>
</body>

</html>