<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../public/script/script.js"></script>
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Sorteio de Números</title>
</head>

<body>
    <div class="content">
        <div class="divNome">
            <p id="nome"><%= nomeUsuario %>></p>
        </div>
        <div class="divNumEscolhido">
            <p>NÚMERO ESCOLHIDO</p>
            <p id="numeroEscolhido"><%= numeroEscolhido %>></p>
        </div>
        <div id="roleta" class="roleta">
            <div id="divNumeros">
                <p class="numero" id="n1">0</p>
                <p class="numero" id="n2">0</p>
                <p class="numero" id="n3">0</p>
                <p class="numero" id="n4">0</p>
                <p class="numero" id="n5">0</p>
                <p class="numero" id="n6">0</p>
            </div>
        </div>
        <div class="divResultado">
            <p id="resultado"></p>
        </div>
        <div>
            <button id="sortear">Sortear Número</button>
        </div>
    </div>
</body>

</html>
