<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorteio de Números</title>
    <style>

        body {
            display: flex;
            align-content: center;
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        
        .container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: #fff;
            border-radius: 8px;
            margin: 20px auto;
            padding: 15px;
            width: 80%;
            max-width: 400px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
       
        p{
            font-size: 1.2rem;
        }

        #nome,
        #numeroEscolhido,
        #numeroSorteado {
            justify-content: center;
        }

        #numeroEscolhido {
            color: blue;
        }

        #numeroSorteado {
            display: none;
            color: red;
        }


        button {
            background-color: green;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            opacity: 0.9;
        }

        #nomeUsuario {
            font-size: 2rem;
            color: #777;
        }

        #divResultado {
            display: none;
        }

        #resultado {
            justify-content: center;
            display: none;
        }

        .ganhou {
            color: green;
        }

        .perdeu {
            color: red;
        }
    </style>
</head>

<body>

    <div class="container">
        <div id="nome">
            <p id="nomeUsuario">
                <%= nomeUsuario %>
            </p>
        </div>

        <div id="numeroEscolhido" class="container">
            <h2>Número Escolhido</h2>
            <p id="numeroEscolhido">
                <%= numeroEscolhido %>
            </p>
        </div>

        <div id="numeroSorteado" class="container">
            <h2>Número Sorteado</h2>
            <p id="numeroSorteado">
                <%= numeroSorteado %>
            </p>
        </div>

        <div id="divResultado" class="container">
            <p id="resultado"></p>
        </div>

        <button id="botaoSortear" onclick="sortearNumero()">SORTEAR AGORA</button>
    </div>
    <script>
        function sortearNumero() {
            let divNumSorteado = document.querySelector("#numeroSorteado");
            let numeroEscolhido = document.querySelector("#numeroEscolhido");
            let divResultado = document.querySelector("#divResultado");
            let resultado = document.querySelector("#resultado");

            divNumSorteado.style.display = "flex";
            divNumSorteado.children[1].style.display = "flex";
            let numSorteado = divNumSorteado.children[1].innerHTML

            const currentUrl = new URL(window.location.href);
            const searchParams = new URLSearchParams(currentUrl.search);
            const hash_key = searchParams.get('h');
            console.log(hash_key)
            console.log(numSorteado.innerHTML)

            fetch('http://localhost:8080/sorteio', {
                method: "POST",
                headers: {
                    "Content-type": "application/json"
                },
                body: JSON.stringify({
                    hash_key: hash_key,
                    num_sorteado: numSorteado
                })
            })

            if (numSorteado === numeroEscolhido) {
                resultado.innerHTML = "Parabens, você ganhou o sorteio!!!"
                divResultado.classList.add("gahnou");
            } else {
                resultado.innerHTML = "Infelizmente você não ganhou o sorteio."
                divResultado.classList.add("perdeu");
            }

            divResultado.style.display = "flex";
            resultado.style.display = "flex";


            document.querySelector("#botaoSortear").style.display = "none";
        }

    </script>
</body>

</html>